div[id="wel"]{
  background-image:url(../images/h_img.jpg);
  background-repeat: no-repeat;
  background-size: 100%,100%;
  overflow-x: hidden;
  color: white;
}
wel.logo.png {
  position: center;
}
div[id="ser"]{
  background-image: url(../images/s_image.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-image-width: 100%;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  font-size: 9px;
}
h2{
  text-align: center;
  }
h3{
  text-align: center;
}
img[id="wel"]{
  margin-left: 40%;
}
.design-hidden {
  display: none;
  {

div[id="wedo"]
