div[id="wel"]{
  background-image:url(../images/h_img.jpg);
  background-repeat: no-repeat;
  background-size:cover;
 
  color: white;
  margin-left: 0;
  margin-right: 0
}
body{
  overflow-x: hidden;
}
wel.logo.png {
  position: center;
}
div[id="ser"]{
  background-image: url(../images/s_image.jpg);
  color: white;
  background-size: 100%,100%;
  background-repeat: no-repeat;
  background-position: centre;

}
h1{
  text-align: center;
}
p{
  text-align: center;
  font-size: 9px;
}
h2{
  text-align: center;
  }
h3{
  text-align: center;
}
img[id="wel"]{
  margin-left: 40%;
}




h2{
  margin-top: 3%;
  margin-bottom:10%;
}
h3{
  padding: 0%;
}
input {
  border-radius: 5px;
}
input[id="name"] {
  width: 35%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
textarea {
  border-radius: 5px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1%;
}
input[id="email"] {
  width: 35%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
div[id="4"]{
  background-image:url(../images/c_image.jpg);
  background-repeat: no-repeat;
  background-size:100%,100%;
  overflow-x: hidden;
  color: white;
  background-position: centre;
  text-align: center;


}
div[id="wedo"]{
  margin-bottom: 10%;
  margin-top: 4%;
  margin-left: 0%;
  margin-right: 0%;
}
div[id="social"]{
margin-top:4%;
margin-left: 35%;
}
div[id=mse]{
  margin-left: 48%;
}
div[id=log]{
  margin-left: 45%;
}
div{
  margin-top: 4%;
}
.row{
  margin-top: 0%;
}
.col-md-3:img{
  width:110px
}
div [id="del"]{
 text-align: center;

}
.text-block{
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  height:50%;
  width:50%;
  color:white;
  border:4px solid white;
}
