div[id="wel"]{
  background-image:url(../images/h_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  color: white;
  margin-left: 0;
  margin-right: 0
}
wel.logo.png {
  position: center;
}
div[id="ser"]{
  background-image: url(../images/s_image.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  font-size: 9px;
}
h2{
  text-align: center;
  }
h3{
  text-align: center;
}
img[id="wel"]{
  margin-left: 40%;
}
.design-hidden {
  display: none;
}
div[id="design"] {
margin-left: 25%;
}
div[id=development] {
  margin-left: 40%;
  margin-top: -9%;
}
.development-hidden{
  display: none;
}
div[id=product] {
  margin-left: 70%;
  margin-top: -15%;
}
.product-hidden{
  display: none;
}
.col-md-3:hover {
  opacity: 0.3;
}

h2{
  margin top: 3%;
  margin bottom:10%;
}
h3{
  padding: 3%;
}
input {
  border-radius: 5px;
}
input[id="name"] {
  width: 35%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
textarea {
  border-radius: 5px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1%;
}
input[id="email"] {
  width: 35%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
div[id="4"]{
  background-image:url(../images/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  color: white;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-top: 4%; 
}
div[id="wedo"]{
  margin-bottom: 10%;
  margin-top: 4%;
  margin-left: 0%;
  margin-right: 0%;
}
div[id="social"]{
margin-top:45%;
position: centre;
}